/*This here is just to test the comments feature.*/
.blue-text{
    color:blue;
}

#l1{
    color:rgb(255, 255, 0);
}

#l2{
    color:#FF0000;
}

#l3{
    color:hsl(75, 50%, 50%)
}

*{
    background-color: aquamarine;
}

h3{
    font-family: 'Bruno Ace', cursive;
}

h1[class="blue-text"]{
    position:fixed;
    top: 20px;
    left: 200px;
}

video[src="clip.mp4"]{
    position:relative;
    left:200px;
}

#box, #box2{
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border-style: dashed;
    border-color: blue;
    border-width: 1px;
    border-radius: 4px;
    padding-top:10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display:inline-block;
}

#box3{
    margin: 10px 20px 10px 20px;
    border-style: dashed;
    border-color: red;
    border-width: 1px;
    border-radius: 4px;
    padding: 5px 5px 5px 5px;


    display:grid;
    justify-self: center;
    align-self: start;
    grid-template-columns: 1fr;
}

#box4{
    margin:auto;
    border-style: dotted;
    border-color:black;
    border-width: 1px;
    border-radius: 4px;
    display:block;
}

#list{
    display:flex;
    flex-direction: column-reverse;
    flex-grow: 4;
    flex-shrink: 3;
}
